@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
    --primary: #fe2c55;
    --black: black;
    --text-color: #333;
    --white: #fff;
    // Defaul Layout
    --defaul-layout-header-height: 60px;
    --defaul-layout-width: 1150px;
    --defaul-layout-width-sidebar: 356px;
    --defaul-layout-horizontal-spacer: 24px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', san-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-size: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgb(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgb(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 10px;
    }
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
