.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-with: 52px;
    width: 100%;
    height: var(--defaul-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/ 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--defaul-layout-width, 115px);
    padding: 0 var(--defaul-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-result,
.search {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    display: flex;
    background-color: rgb(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-with);
        width: 1px;
        height: calc(var(--search-height) - (var(--search-top-spacer) * 2));
        background-color: rgb(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgb(22, 24, 35, 0.2);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(22, 24, 35, 0.5);
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-with) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.34);
}
.search-btn {
    width: var(--search-button-with);
    height: 100%;
    border-bottom-right-radius: var(--search-border-radius);
    border-top-right-radius: var(--search-border-radius);
    font-size: 1.9rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}
.action-btn {
    color: #161823;
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}
