.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.title-item {
    margin-left: 12px;
}
