// Menu warpper
.menu-list {
    width: 230px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 18px;
    &:hover {
        background-color: rgb(22, 24, 35, 0.04);
    }
}
