// Menu warpper
.menu-list {
    width: 230px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}
// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 18px;
    line-height: 1.8rem;
    &:hover {
        background-color: rgb(22, 24, 35, 0.04);
    }
    &.separate {
        border-top: 1px solid rgb(22, 24, 35, 0.15);
    }
}
.header {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    font-size: 1.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
